Repository dbeley/symmetri: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

update dependencies
  Cargo.lock
Due: none

update to nixos 25.11
  .gitignore
  flake.lock
  flake.nix
Due: none

update styling
  src/aggregate.rs
  src/cli.rs
  src/cli_helpers.rs
  src/db.rs
Due: cargo-fmt, cargo-clippy, cargo-check

update summary
  src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check

added new metrics to graph
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/graph.rs
Due: cargo-fmt, cargo-clippy, cargo-check

delete legacy env variable
  AGENTS.md
  README.md
  src/cli.rs
  src/collector.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs: add sample graph image
  .gitignore
  README.md
  docs/symmetri_last_4_hours_sample_image.png
Due: none

fix battery report charge/discharge
  src/cli.rs
  src/cli_helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-check

lint
  AGENTS.md
  flake.nix
  src/cli.rs
  src/graph.rs
Due: cargo-fmt, cargo-clippy, cargo-check

build: improve compile time
  .cargo-config.toml.example
  .gitignore
  Cargo.toml
  flake.nix
Due: cargo-fmt

Add MIT License to the project
  LICENSE
Due: none

ci: use latest actions versions
  .github/workflows/ci.yml
Due: none

cli: add "all" preset
  Cargo.toml
  src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check

metrics: fetch more temperatures sensors
  Cargo.lock
  src/metrics.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refacto: convert Sample model to Metric
  src/aggregate.rs
  src/cli.rs
  src/cli_helpers.rs
  src/collector.rs
  src/db.rs
  src/graph.rs
  src/lib.rs
  src/metrics.rs
  src/sysfs.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refacto: convert Sample model to Metric
  src/aggregate.rs
  src/cli.rs
  src/cli_helpers.rs
  src/collector.rs
  src/db.rs
  src/graph.rs
  src/metrics.rs
  src/sysfs.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refacto: convert Sample model to Metric
  src/aggregate.rs
  src/cli.rs
  src/cli_helpers.rs
  src/graph.rs
Due: cargo-fmt, cargo-clippy, cargo-check

handle source_path null
  src/db.rs
Due: cargo-fmt, cargo-clippy, cargo-check

bump to 0.3.2
  Cargo.toml
Due: cargo-fmt

deps: update flake.lock
  flake.lock
Due: none

docs: update README.md
  README.md
  symmetri_all_2025-12-29_13-59-22__01_00.png
Due: none

deps: update flake.lock
  Cargo.lock
  flake.lock
Due: none

delete unused migration
  src/db.rs
Due: cargo-fmt, cargo-clippy, cargo-check

delete unused image
  symmetri_all_2025-12-29_13-59-22__01_00.png
Due: none

deps: update flake.lock and Cargo.lock
  Cargo.lock
  flake.lock
Due: none

refactor: deduplicate MetricKind enum implementations with strum
  Cargo.toml
  src/metrics.rs
Due: cargo-fmt, cargo-clippy, cargo-check

perf: optimize database queries with connection reuse and SQL filtering
  src/db.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: handle exit codes properly in collect_loop and remove process exits
  src/cli.rs
  src/collector.rs
Due: cargo-fmt, cargo-clippy, cargo-check

refactor: reduce module visibility and clean up files
  .gitignore
  Cargo.lock
  flake.nix
Due: none

refactor: add dead_code attributes and update module visibility
  src/cli_helpers.rs
  src/lib.rs
  src/timeframe.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs: add maintenance plan documentation
  .opencode/plans/maintenance-plan.md
Due: none

bump: version 0.3.3 and update dependencies
  Cargo.lock
  Cargo.toml
  flake.nix
Due: cargo-fmt

flake: figure version automatically
  flake.nix
Due: none

refactor: improve error handling for float comparisons
  src/cli.rs
  src/graph.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs: update documentation 2026-06-05
  README.md
Due: none

fix: replace io::Error abuse with proper MetricKindParseError
  .github/workflows/ci.yml
  src/db.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: remove cachix-action from CI workflow
  .github/workflows/ci.yml
Due: none

deps: update Cargo.lock and flake.lock (July 2026)
  Cargo.lock
  flake.lock
Due: none

fix: use nix build sandbox for CI to avoid font-kit linker issues on GHA
  .github/workflows/ci.yml
  flake.nix
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, \.toml$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
